@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

.main-about{
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    //background-color: #efefef;
    color: #1e1919;
    margin-top: 120px;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    //box-shadow: -4px 8px 8px -4px #d0d5d2;
}

.about-title{
    text-align: center;
    margin-bottom:40px;
    font-size: 28px;
    color: #1e1919;
    font-family: 'Barlow', sans-serif;
    font-weight:600;
    letter-spacing: 3.2px;
    text-decoration: underline;
}

.about-img {
    align-items: center;
    border-radius: 20%;
    box-shadow: -2px 8px 8px -1px #A2ADA5;
    margin-bottom: 20px;
}

.about-des {
    width:38%;
}

.about-des > p {
    padding-top:10px;
}

.about-btn{
    padding: 15px 50px 15px 50px;
    margin-top: 40px;
    font-size: 16px;
    border-radius: 20px;
    letter-spacing: 2.2px;
    box-shadow: -2px 8px 8px -1px #A2ADA5;
}

.about-btn:hover{
    transform: translate(-10px, 10px);
	border-color: #A2ADA5;
	box-shadow: 0 0 0 0 #000000;
}

@media only screen and (max-width: 768px){
    .main-about{
        width:100%;
        height: auto;
        box-sizing: border-box;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        line-height: 30px;
        //box-shadow: -4px 8px 8px -4px #d0d5d2;
    }
    .about-title{
        margin-bottom:40px;
        font-size: 18px;
        letter-spacing: 2.2px;
    }
    .about-des {
        width:80%;
    }
    .about-btn{
        padding: 10px 40px 10px 40px;
        margin-top:35px;
    }
}