@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

.main-cta {
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    //background: #d0d5d2;
    padding-top: 60px;
    padding-bottom:60px;
    //box-shadow: -4px 8px 8px -4px #bfcbce;
}
.title-cta {
    font-weight:600;
    letter-spacing: 3.2px;
    font-size: 28px;
    text-decoration: underline;
    color: #1e1919;
}

.p-form{
    padding-top: 40px;
    font-size: 18px;
}

.form-cta {
    padding: 15px 60px 15px 60px;
    margin-top: 30px;
    margin-bottom:40px;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: 2.2px;
    box-shadow: -2px 8px 8px -1px #A2ADA5;
}

.form-btn {
    padding: 15px 50px 15px 50px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 16px;
    letter-spacing: 2.2px;
    box-shadow: -2px 8px 8px -1px #A2ADA5;
}

.form-cta:hover, .form-btn:hover {
    transform: translate(-10px, 10px);
	border-color: #A2ADA5;
	box-shadow: 0 0 0 0 #000000;
}

@media only screen and (max-width: 768px){
    .main-cta {
        width:100%;
        padding-top:0px;
    }
    .title-cta{
        margin-bottom:40px;
        font-size: 18px;
        letter-spacing: 2.2px;
    }
    .p-form{
        width: 100%;
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .form-cta {
        padding: 10px 40px 10px 40px;
        margin: 10px;
    }
    
    .form-btn {
        padding: 10px 40px 10px 40px;
        margin: 10px;
    }
}