@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

.features-main{
    width: 100%;
    padding-bottom: 80px;
}

.features-title{
    text-align: center;
    margin-bottom:40px;
    font-size: 28px;
    color: #1e1919;
    font-family: 'Barlow', sans-serif;
    font-weight:600;
    letter-spacing: 3.2px;
    text-decoration: underline;
}

.features-icon {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.icon-js, .icon-sw, .icon-tw, .icon-fb {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: -2px 8px 8px -1px #bfcbce;
}

.icon-js:hover, .icon-sw:hover, .icon-tw:hover, .icon-fb:hover{
    transform: translate(-10px, 10px);
	border-color: #A2ADA5;
	box-shadow: 0 0 0 0 #000000;
}

.icon-js{
    color: #f0db4f;
}
.icon-sw{
    color: #F05138;
}
.icon-tw{
    color: #06b6d4;
}
.icon-fb{
    color: #ffa611;
}

@media only screen and (max-width: 768px){
    .features-main{
        width: 100%;
        padding-top:60px;
    }
    .features-title{
        margin-bottom:40px;
        font-size: 18px;
        letter-spacing: 2.2px;
    }
    .features-icon {
        display:flex;
        flex-direction: column;
    }

    .icon-js, .icon-sw, .icon-tw, .icon-fb, .icon-ad, .icon-dr {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        margin-left: 10px;
        margin: 10px 20px 10px 20px;
    }
}