@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

.main-section {
    display: inline-block;
    margin: 10px 15px 30px 15px;
    justify-content: center;
    align-items: center;
}

.main-project {
    position: relative;
}

.main-project .single-card-p {
    position: relative;
    width: 250px;
    height: 380px;
    background: #f5f5f5;
    border-radius: 20px;
    overflow: hidden;
}

.main-project .single-card-p:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #A2ADA5;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.main-project .single-card-p:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.main-project .single-card-p:after {
    content: 'Pro';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    color: rgba(49, 71, 0,0.05)
}

.main-project .single-card-p .image-card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.main-project .single-card-p:hover .image-card {
    top: 0%;
    transform: translateY(0%);
}

.main-project .single-card-p .image-card .image-single {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.main-project .single-card-p .content {
    position: absolute;
    bottom: 0;
    margin-left: -100px;
    height: 100px;
    text-align: left;
    transition: 1s;
    z-index: 10;
}

.main-project .single-card-p:hover .content{
    height: 190px;
}

.main-project .single-card-p .content .single-title-p {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #191919;
    margin: 0;
}

.main-project .single-card-p .content .text-des-p, .main-project .single-card-p .content .text-stack-p, .main-project .single-card-p .content .text-link-p {
    justify-content: center;
    align-items: center;
    padding-top:10px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
}

.main-project .single-card-p:hover .content .text-des-p, .main-project .single-card-p:hover .content .text-stack-p, .main-project .single-card-p:hover .content .text-link-p {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.text-link-p {
    width: 50%;
    text-align: center;
    background: #fff;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 14px;
}